#order{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 51.04%, rgba(0, 0, 0, 0.5) 100%), #000000;
    color: aliceblue;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    
}

#coldata{
    display: flex;
    flex-direction: row;
    
    
}
#imgstyle{
    background-color: aquamarine;
    height: 75px;
    width: 75px;
    margin-right: 20px;
}

#orderzone{
    height: 80vh;
    background-color:#C4C4C4 ;
    padding: 15px;
    border-radius: 15px;
    overflow: auto;
    width: 35%;
}
#datatext{
    font-size: smaller;
}

#searchcustomerzone{
    width:25vw;
    
    background-color:#C4C4C4 ;
    padding: 15px;
    border-radius: 15px;
}
#inputsearchcustomer{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
#searchbuttoncustomer{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 20px;
}

#addcustomerButton{
    border-radius: 50px;
    width: 100%;   
    margin-top: 10px;
}

#customerzone{
    height: 80vh;
    background-color:#C4C4C4 ;
    padding: 15px;
    border-radius: 15px;
    overflow: auto;
    width: 30%;
}

#popcustomerButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}